@import url("http://127.0.0.1/Media-Website/Framework/App/Scripts/CSS/MediaBox.css");
.MostUsedBox{
    height: 320px;
    width: 52.2em;
    background-color: lightgrey;
    margin: auto;
    margin-top: 10px;
}
.MostUsedBox > p{
    text-align: center;
    color: goldenrod;
}
.MostUsedBox > section{
    display: flex;
}