<link href="http://127.0.0.1/Media-Website/Framework/Layouts/Scripts/CSS/NavBar.css" rel="Stylesheet" />
<link href="http://127.0.0.1/Media-Website/Framework/Layouts/Scripts/CSS/InfoNavBar.css" rel="Stylesheet" />
<link href="http://127.0.0.1/Media-Website/Framework/Layouts/Scripts/CSS/AppNavBar.css" rel="Stylesheet" />
<script src="http://127.0.0.1/Media-Website/Framework/Layouts/Scripts/JS/PagesLink.js"></script>
<div class="nav">
  <a href="http://127.0.0.1/Media-Website/Home.html">Home</a>
  <div id="PagesNav"></div>
</div>