<div class="InfoNavBar">
  <a href="http://127.0.0.1/Media-Website/Pages/About.html">About</a>
  <a href="http://127.0.0.1/Media-Website/Pages/License.html">License</a>
</div>
<div class="AppNavBar">
   <a href="http://127.0.0.1/Website/Pages/App.html">App</a>
   <div class="Components">
       <a class="ComponentsLinks" id="ComponentsLinks1" href="http://127.0.0.1/Media-Website/Framework/App/Scripts/HTML/Featured.html">Featured Music</a>
       <a class="ComponentsLinks" id="ComponentsLinks2" href="http://127.0.0.1/Media-Website/Framework/App/Scripts/HTML/MostUsed.html">Most Used</a>
       <a class="ComponentsLinks" id="ComponentsLinks3" href="http://127.0.0.1/Media-Website/Framework/App/Scripts/HTML/Advance.html">Advance</a>
   </div>
</div>