.InfoNavBar{
    background-color: #4CAF50;
    color: red;
    overflow: hidden;
    width: max-content;
}
.InfoNavBar a{
    float: left;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.InfoNavBar a:hover{
    background-color: #ddd;
    color: black;
}